body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-size: 4vmin;
}

a {
  color: black;
}

h2 {
  font-size: 3vmin;
}

h3 {
  font-size: 2vmin;
}

button {
  background: #0C2D48;
  border: none;
  color: white;
}

button:hover {
  cursor: pointer;
}
